BODY {
    color :lightcoral;
    background : aquamarine;
    font-family: "Dancing Script", cursive;
}

header{
    border-bottom: solid 5px rgb(207, 195, 27);
    padding: 20px;
    font-size: 30px;
    color:rgb(207, 195, 27);
}

section{
    background: #98f0ffbf; 
    padding-top: 10px;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}


.chamada-texto{
    margin-right:5% ; 
}

h1{
    font-size:30px;
}

p{
    font-size:30px;
}

